

  .card-header {
    background-color: #a50505;
    color: white;
    font-weight: bold;
  }

  .card-title {
    color: #a50505;
    font-weight: bold;
  }

  .card-text {
    color: #555;
  }

  .card-body {
    width: 80%;
    margin: 0 auto;
  }

  .text-left {
    text-align: left;
  }
  .form-sha {
    -webkit-box-shadow: -1px 1px 43px 1px rgba(219,216,219,1);
    -moz-box-shadow: -1px 1px 43px 1px rgba(219,216,219,1);
    box-shadow: -1px 1px 43px 1px rgba(219,216,219,1);
  }
  
  p {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 18px !important;
  }